@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Simple Financial Info (SFI) provides basic financial data using Yahoo! Finance API.</p>

SFI v1.0.0 release:
<ul>
  <li>Look up basic info for symbols.</li>
  <li>Symbol search limited to 10 per request.</li>
  <li>Information limited to Price, Earning Per Share, P/E Ratio.</li>
</ul>

Planned functionality:
<ul>
  <li>Update API requests to allow for more than 10 symbols at a time.</li>
  <li>Add data to display.</li>
  <li>Allow user to select which data they want displayed.</li>
</ul>
