@{
    ViewBag.Title = "Contact";
}

<h1>Dev Team</h1>

<div class="card">
  <div class="card-body">
    <h4 class="display-6">Salvador Maltby</h4>
    <p>
      Salvador has been developing applications for 6 years, and looks forward to more.
    </p>
    <a href="mailto:salvador.maltby@gmail.com">Email Me!</a>
  </div>
</div>